In [1]:
import pandas as pd
import numpy as np

Импорт данных

In [2]:
events = pd.read_csv('course-217-events.csv')
structure = pd.read_csv('course-217-structure.csv')

In [4]:
events[:5]

   user_id  action  step_id        time
0        1  viewed    47435  1465181036
1        1  viewed    47438  1465181034
2        1  viewed    47435  1465181021
3        1  viewed    47436  1465181015
4        1  viewed    41605  1465180037

In [5]:
structure[:5]

,course_id,module_id,module_position,lesson_id,lesson_position,step_id,step_position,step_type,step_cost
0,217,614,2,13228,2,38842,1,text,0
1,217,614,2,13228,2,39715,6,code,1
2,217,614,2,13228,2,39716,7,code,1
3,217,614,2,13228,2,39717,8,code,1
4,217,614,2,13228,2,39721,9,free-answer,0

In [6]:
events = events.sort_values('time', axis=0)

In [9]:
passed_events = events[events['action'] == 'passed']

In [10]:
passed_events[:5]

         user_id  action  step_id        time
1431920     1229  passed    38518  1440065573
1431917     1229  passed    38521  1440065578
1431908     1229  passed    38527  1440065595
1431905     1229  passed    38522  1440065597
1431902     1229  passed    38523  1440065607

Определим начало прохождения курса для каждого юзера

In [38]:
start_time = {}
for i in passed_events.index.values:
    if passed_events.ix[i, 'user_id'] in start_time:
        pass
    else:
        start_time[passed_events.ix[i, 'user_id']] = passed_events.ix[i, 'time']

In [42]:
top_users = []
top_users_time = []
score_user = {}
for i in passed_events.index.values:
    if passed_events.ix[i, 'user_id'] in score_user:
        # Подсчет новых баллов.
        step_cost = 0
        for j in structure.values:
            if j[5] == passed_events.ix[i, 'step_id']:
                step_cost = j[8]
        score_user[passed_events.ix[i, 'user_id']] += step_cost
        if score_user[passed_events.ix[i, 'user_id']] >= 24:
            if passed_events.ix[i, 'user_id'] not in top_users:
                top_users.append(passed_events.ix[i, 'user_id'])
                top_users_time += [[passed_events.ix[i, 'user_id'], passed_events.ix[i, 'time'] - start_time[passed_events.ix[i, 'user_id']]]]
    else: 
        # Подсчет новых баллов.
        step_cost = 0
        for j in structure.values:
            if j[5] == passed_events.ix[i, 'step_id']:
                step_cost = j[8]
        score_user[passed_events.ix[i, 'user_id']] = step_cost

In [55]:
top_users_time = pd.DataFrame(top_users_time)
top_users_time.columns = ['id', 'time']

In [64]:
top_users_time_sorted = top_users_time.sort_values(['time'],  axis = 0)
top_users_time_sorted = pd.DataFrame(top_users_time_sorted)

In [72]:
top_users_time_sorted[:10]

       id     time
108  4313    41390
502  1264   207886
522   821   348179
500  1146   549445
519  1124   575883
497  2622   847958
513   713   868600
521   972  1079659
261  4280  1081656
504  1291  1181486