In [1]:
import numpy as np
import pandas as pd
from sklearn import ensemble
from sklearn.linear_model import LinearRegression

from sklearn.cross_validation import cross_val_score
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn import manifold, decomposition, linear_model, ensemble, neighbors, cross_validation
import sklearn
from sklearn import pipeline, preprocessing, feature_extraction
import xgboost as xgb
from sklearn.metrics import f1_score
import xgboost as xgb
from sklearn.metrics import mean_absolute_error
import time
import datetime
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import log_loss, auc, roc_curve
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer, HashingVectorizer
from scipy import sparse
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgbm
import scipy
from sklearn.preprocessing import StandardScaler

%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

/home/fao3864/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [47]:
len(m_svd)

2345796

In [41]:
len(X_test)

2345796

In [42]:
404290+2345796

2750086

In [2]:
X_train = pd.read_csv("data/train.csv")
X_test = pd.read_csv("data/test.csv")

y_train = pd.DataFrame(X_train['is_duplicate'])
y_train.columns = ['y']
del X_train['is_duplicate']

skf = StratifiedKFold(5, shuffle=True, random_state=0)
folds = []
for itr, ite in skf.split(X_train, y_train.y):
    folds += [[itr, ite]]

In [3]:
X_train = pd.read_csv("data/train_inter.csv")

X_train['question1'] = X_train['question1'].apply(lambda x: str(x))
X_train['question2'] = X_train['question2'].apply(lambda x: str(x))

X_train['question1'] = X_train['question1'].apply(lambda x: x.lower().split())
X_train['question2'] = X_train['question2'].apply(lambda x: x.lower().split())

In [4]:
X_test = pd.read_csv("data/test_inter.csv")

X_test['question1'] = X_test['question1'].apply(lambda x: str(x))
X_test['question2'] = X_test['question2'].apply(lambda x: str(x))

X_test['question1'] = X_test['question1'].apply(lambda x: x.lower().split())
X_test['question2'] = X_test['question2'].apply(lambda x: x.lower().split())

In [5]:
X = map(lambda x: ' '.join(x), X_train['question1'])
X1 = map(lambda x: ' '.join(x), X_train['question2'])
Y = map(lambda x: ' '.join(x), X_test['question1'])
Y1 = map(lambda x: ' '.join(x), X_test['question2'])
hw = HashingVectorizer(n_features=200).fit(X_train['question1'] + X_train['question2'])

In [6]:
X = pd.DataFrame(hw.transform(X).todense())
X1 = pd.DataFrame(hw.transform(X1).todense())
Y = pd.DataFrame(hw.transform(Y).todense())
Y1 = pd.DataFrame(hw.transform(Y1).todense())

In [7]:
tfidf = feature_extraction.text.TfidfTransformer()
tfidf.fit(X+X1)

X = pd.DataFrame(tfidf.transform(X).todense())
X1 = pd.DataFrame(tfidf.transform(X1).todense())
Y = pd.DataFrame(tfidf.transform(Y).todense())
Y1 = pd.DataFrame(tfidf.transform(Y1).todense())

In [8]:
X_train = pd.concat([X_train, X], axis=1, join_axes=[X_train.index])
del X
X_train = pd.concat([X_train, X1], axis=1, join_axes=[X_train.index])
del X1
X_test = pd.concat([X_test, Y], axis=1, join_axes=[X_test.index])
del Y
X_test = pd.concat([X_test, Y1], axis=1, join_axes=[X_test.index])
del Y1

In [9]:
cores_dict = pd.read_csv("data/question_max_kcores.csv", index_col="qid").to_dict()["max_kcore"]
def gen_qid1_max_kcore(row):
    return cores_dict[row["qid1"]]
def gen_qid2_max_kcore(row):
    return cores_dict[row["qid2"]]

#def gen_max_kcore(row):
#    return max(row["qid1_max_kcore"], row["qid2_max_kcore"])

X_train["qid1_max_kcore"] = X_train.apply(gen_qid1_max_kcore, axis=1)
#X_test["qid1_max_kcore"] = X_test.apply(gen_qid1_max_kcore, axis=1)
X_train["qid2_max_kcore"] = X_train.apply(gen_qid2_max_kcore, axis=1)
#X_test["qid2_max_kcore"] = X_test.apply(gen_qid2_max_kcore, axis=1)

In [10]:
q_test = pd.read_csv("data/kcore_test.csv")
X_test = pd.concat([X_test, q_test], axis=1)

In [27]:
X_test[:2]

,word_match,tfidf_word_match,0,1,2,3,4,5,6,7,...,192,193,194,195,196,197,198,199,qid1_max_kcore,qid2_max_kcore
0,0.266667,0.274019,0.0,0.0,0.0,0.0,0.0,-0.156312,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
1,0.500000,0.480962,0.0,0.0,0.0,0.0,0.0,-0.164904,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

In [11]:
del X_train['question1']
del X_train['question2']
del X_train['qid1']
del X_train['qid2']
del X_train['id']

del X_test['question1']
del X_test['question2']
del X_test['test_id']

In [47]:
X_test[:2]

,word_match,tfidf_word_match,0,1,2,3,4,5,6,7,...,21,22,23,24,25,26,27,28,29,lstm
0,0.266667,0.274019,0.0,0.0,0.0,0.0,0.0,-0.156312,0.0,0.0,...,-0.03559,0.150354,-0.032531,-0.086795,0.057361,0.111245,-0.033171,0.066494,0.010014,0.057908
1,0.500000,0.480962,0.0,0.0,0.0,0.0,0.0,-0.164904,0.0,0.0,...,-0.03081,0.003312,-0.046230,-0.044494,-0.004791,0.072093,-0.169035,-0.086499,0.006689,0.421167

In [28]:
X_train.ix[:2, 202:402]

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.119495,...,0.0,0.0,0.325385,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.131759,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,-0.167796,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
X_train.ix[:2, 2:202]

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.113341,...,0.0,0.0,0.308628,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.165352,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.209907,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.380265,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.186087,0.0,0.0,0.0

In [30]:
#tmp = abs(X_train.ix[:, 2:202] * X_train.ix[:, -200:])
#X_train = pd.concat([X_train, tmp], axis=1, join_axes=[X_train.index])
tmp = abs(X_train.ix[:, 2:202] - X_train.ix[:, 202:402])
X_train = pd.concat([X_train, tmp], axis=1, join_axes=[X_train.index])

#tmp = abs(X_test.ix[:, 2:202] * X_test.ix[:, -200:])
#X_test = pd.concat([X_test, tmp], axis=1, join_axes=[X_test.index])
#tmp = abs(X_test.ix[:, 2:202] - X_test.ix[:, -200:])
#X_test = pd.concat([X_test, tmp], axis=1, join_axes=[X_test.index])

In [77]:
tmp = abs(X_test.ix[:, 2:202] - X_test.ix[:, 202:402])
X_test = pd.concat([X_test, tmp], axis=1, join_axes=[X_test.index])

In [85]:
del X_train

In [12]:
#X_train = pd.read_csv("data/train_inter.csv")
q_train = pd.read_csv("data/freq_train.csv")
X_train = pd.concat([X_train, q_train], axis=1)

f_train = pd.read_csv("data/train_features.csv", encoding = "ISO-8859-1")
f_train = f_train.ix[:, 2:]
X_train = pd.concat([X_train, f_train], axis=1)

In [13]:
q_train = pd.read_csv("data/f1_train.csv")
X_train = pd.concat([X_train, q_train], axis=1)

In [14]:
q_train = pd.read_csv("data/train_lda_feat.csv", encoding = "ISO-8859-1")
q_train = q_train.ix[:, 6:]
X_train = pd.concat([X_train, q_train], axis=1)

In [15]:
q_train = pd.read_csv("stacking/nn_21.csv")
q_train[:5]

       lstm
0  0.588275
1  0.203615
2  0.476624
3  0.016573
4  0.004713

In [16]:
q_train = pd.read_csv("stacking/nn_21.csv")
X_train = pd.concat([X_train, q_train], axis=1)

In [33]:
X_train[:2]

,word_match,tfidf_word_match,0,1,2,3,4,5,6,7,...,kur_q2vec,q1_q2_intersect,cosine_distance_lda,cityblock_distance_lda,jaccard_distance_lda,canberra_distance_lda,euclidean_distance_lda,minkowski_distance_lda,braycurtis_distance_lda,lstm
0,0.727273,0.772164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.337301,0,0.046653,0.232798,1.0,1.266667,0.137590,0.127564,0.134090,0.588275
1,0.307692,0.361758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.034444,0,0.748658,1.241746,1.0,5.400000,0.538923,0.423051,0.812442,0.203615

In [45]:
X_train[:2]

,word_match,tfidf_word_match,0,1,2,3,4,5,6,7,...,20,21,22,23,24,25,26,27,28,29
0,0.727273,0.772164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.041053,0.105704,0.078461,-0.064659,-0.015350,0.129838,0.072293,-0.010824,0.005664,0.038002
1,0.307692,0.361758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.118016,-0.041619,-0.026479,0.073949,0.089666,0.025895,0.008982,0.057382,0.008907,-0.046267

In [69]:
X_test[:2]

,word_match,tfidf_word_match,0,1,2,3,4,5,6,7,...,192,193,194,195,196,197,198,199,qid1_max_kcore,qid2_max_kcore
0,0.266667,0.274019,0.0,0.0,0.0,0.0,0.0,-0.156312,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
1,0.500000,0.480962,0.0,0.0,0.0,0.0,0.0,-0.164904,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

In [90]:
del tmp

NameError: name 'tmp' is not defined

In [41]:
import gc
gc.collect()

37

In [36]:
q_test = pd.read_csv("data/freq_test.csv")

In [37]:
X_test = pd.concat([X_test, q_test], axis=1)

In [38]:
f_test = pd.read_csv("data/test_features.csv", encoding = "ISO-8859-1")
f_test = f_test.ix[:, 2:]

In [39]:
X_test = pd.concat([X_test, f_test], axis=1)

In [40]:
q_test = pd.read_csv("data/f1_test.csv")
X_test = pd.concat([X_test, q_test], axis=1)

In [42]:
q_test = pd.read_csv("data/test_lda_feat.csv", encoding = "ISO-8859-1")
q_test = q_test.ix[:, 3:]
X_test = pd.concat([X_test, q_test], axis=1)

In [43]:
q_test = pd.read_csv("stacking/nn_21_test.csv")
X_test = pd.concat([X_test, q_test], axis=1)

In [23]:
X_test.shape

(2345796, 442)

In [29]:
m_svd.index = range(len(m_svd))

In [31]:
m_svd.shape

(2345796, 30)

In [32]:
X_test = pd.concat([X_test, m_svd], axis=1)

In [33]:
q_test = pd.read_csv("stacking/nn_21_test.csv")
X_test = pd.concat([X_test, q_test], axis=1)

In [44]:
X_test[:2]

,word_match,tfidf_word_match,0,1,2,3,4,5,6,7,...,kur_q2vec,q1_q2_intersect,cosine_distance_lda,cityblock_distance_lda,jaccard_distance_lda,canberra_distance_lda,euclidean_distance_lda,minkowski_distance_lda,braycurtis_distance_lda,lstm
0,0.266667,0.274019,0.0,0.0,0.0,0.0,0.0,-0.156312,0.0,0.0,...,-0.144866,0,0.573341,1.160190,1.0,7.833784,0.399663,0.290631,0.65838,0.102577
1,0.500000,0.480962,0.0,0.0,0.0,0.0,0.0,-0.164904,0.0,0.0,...,-0.042937,0,0.251020,0.615409,1.0,3.595264,0.265033,0.210156,0.35913,0.310506

In [35]:
len(X_test)

2345796

In [83]:
len(m_svd)

2345796

In [26]:
X_train[:2]

,word_match,tfidf_word_match,0,1,2,3,4,5,6,7,...,kur_q2vec,q1_q2_intersect,cosine_distance_lda,cityblock_distance_lda,jaccard_distance_lda,canberra_distance_lda,euclidean_distance_lda,minkowski_distance_lda,braycurtis_distance_lda,lstm
0,0.727273,0.772164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.337301,0,0.046653,0.232798,1.0,1.266667,0.137590,0.127564,0.134090,0.588275
1,0.307692,0.361758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.034444,0,0.748658,1.241746,1.0,5.400000,0.538923,0.423051,0.812442,0.203615

In [ ]:
tmp = X_train['lstm']
del X_train['lstm']
X_train['lstm']

In [29]:
param = {}
param['objective'] = 'binary:logistic'
param['eval_metric'] = 'logloss'
param['max_depth'] = 7
# param['booster'] = 'dart'
#param['booster'] = 'gblinear'
param['eta'] = 0.1
#param['subsample'] = 1.0
# param["scale_pos_weight"] = 0.5
#param['colsample_bytree'] = 0.7
param['nthread'] = 8
#param['num_class'] =3
#param['alpha'] = 0.00
#param['lambda_bias'] = 0.1
# param['lambda'] = 0
#param['min_child_weight'] = 100

# if param['booster'] == 'gblinear': param['eta'] *= 1e-4
numround = 2000

#LGBM
params = {
    #'task': 'train',
    #'boosting_type': 'gbdt',
    #'objective': 'regression',
    #'metric': {'l2', 'auc'},
    #'num_leaves': 31,
    #'feature_fraction': 0.9,
    #'bagging_fraction': 0.8,
    #'bagging_freq': 5,
    #'subsample': 0.8,
    #'colsample_bytree': 0.7,
    'objective': 'binary',
    'nthread': -1,
    'learning_rate': 0.05,
    'min_child_weight': 50,
    #'max_depth': 7
    #'num_class': 3
    
}

pred_train = np.zeros(len(y_train))
xgbs = []
sc,sc_mean = [],[]

for itr, ite in folds:
    ypred = []
    for i in range(1):
               
        param['seed'] = i+1
        
        #xgboost
        '''
        Xdatatrain = xgb.DMatrix(data=X_train.ix[itr, :].values,
                                     label=y_train.ix[itr].values)
        Xdataval = xgb.DMatrix(data=X_train.ix[ite, :].values,
                                     label=y_train.ix[ite].values)

        plst = list(param.items())
        watchlist = [(Xdatatrain, 'train'), (Xdataval, 'eval')]
        bst = xgb.train(plst, Xdatatrain, numround, evals=watchlist, verbose_eval=15)

        
        #rc = ensemble.ExtraTreesClassifier(n_estimators=1300, criterion='gini', max_depth=None, n_jobs=-1)
        #pred_train[ite] = bst.predict(Xdataval)
        #neigh = KNeighborsClassifier(n_neighbors=2)
        #neigh.fit(X_train.ix[itr, :], y_train.ix[itr])
        ypred = bst.predict(Xdataval)
        #ypred = neigh.predict_proba(X_train.ix[ite, :])
        xgbs.append(bst)
        '''
        
        # train
        lgb = lgbm.sklearn.LGBMClassifier(n_estimators=2000, seed=0, **params)
        lgb.fit(X_train.ix[itr, :], y_train.ix[itr])
        ypred = lgb.predict_proba(X_train.ix[ite, :])[:, 1]

        '''
        model.fit(X_train.ix[itr, :].values, y_train_cat[itr],
            epochs=60,
            batch_size=1000)
        ypred = model.predict(X_train.ix[ite, :].values)
        '''
    #ypred = sum(ypred) / len(ypred) 0.401408 0.392476
    pred_train[ite] = ypred

    
    sc.append(log_loss(y_train.ix[ite, :], pred_train[ite]))

    
print('XGB: {:.3f} +- {:.3f}'.format(np.mean(sc), np.std(sc)))

/home/fao3864/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/fao3864/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/fao3864/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/fao3864/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/fao3864/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/fao3864/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/fao3864/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/fao3864/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/fao3864/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/fao3864/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGB: 0.217 +- 0.002

In [30]:
def foo(x):
    a = 0.165 / 0.37
    b = (1 - 0.165) / (1 - 0.37) 
    return  a * x / (a * x + b * (1 - x))

In [31]:
pred_train = foo(pred_train)

In [32]:
pred_train = pd.DataFrame(pred_train)
pred_train.columns = ['y']
pred_train.to_csv("stacking/lgb_23.csv", index=None)

In [58]:
del pred_train

In [45]:
import gc
gc.collect()

204

In [55]:
submit = pd.read_csv("data/sample_submission.csv")

In [56]:
#LGBM
params = {
    #'task': 'train',
    #'boosting_type': 'gbdt',
    #'objective': 'regression',
    #'metric': {'l2', 'auc'},
    #'num_leaves': 31,
    #'feature_fraction': 0.9,
    #'bagging_fraction': 0.8,
    #'bagging_freq': 5,
    #'subsample': 0.8,
    #'colsample_bytree': 0.7,
    'objective': 'binary',
    'nthread': -1,
    'learning_rate': 0.1,
    'min_child_weight': 100,
    #'max_depth': 6
    #'num_class': 3
    
}

In [34]:
lgb = lgbm.sklearn.LGBMClassifier(n_estimators=2000, seed=0, **params)
lgb.fit(X_train, y_train)

/home/fao3864/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/fao3864/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LGBMClassifier(boosting_type='gbdt', colsample_bytree=1, drop_rate=0.1,
        is_unbalance=False, learning_rate=0.05, max_bin=255, max_depth=-1,
        max_drop=50, min_child_samples=10, min_child_weight=50,
        min_split_gain=0, n_estimators=2000, nthread=-1, num_leaves=31,
        objective='binary', reg_alpha=0, reg_lambda=0, scale_pos_weight=1,
        seed=0, sigmoid=1.0, silent=True, skip_drop=0.5, subsample=1,
        subsample_for_bin=50000, subsample_freq=1, uniform_drop=False,
        xgboost_dart_mode=False)

In [48]:
X_test = X_test.ix[1000001:, :]

In [49]:
test_pred2 = lgb.predict_proba(X_test)[:, 1]

In [47]:
test_pred1[:4]

array([  5.93303105e-03,   1.74597458e-01,   5.54921827e-01,
         4.47564805e-04])

In [127]:
test_pred1[-4:]

array([  4.85291907e-04,   2.61291438e-01,   6.26312391e-01,
         1.66797416e-03])

In [50]:
test_pred2[:4]

array([  1.25787340e-01,   2.73604227e-05,   6.46462160e-05,
         2.09556947e-02])

In [151]:
test_pred2[-4:]

array([  1.67587699e-03,   2.31711933e-04,   3.72899384e-01,
         3.89707027e-01])

In [148]:
len(test_pred1)

1000001

In [152]:
len(test_pred2)

1345795

In [51]:
test_pred = np.concatenate([test_pred1, test_pred2], axis=0)

In [52]:
len(test_pred)

2345796

In [53]:
test_pred

array([  5.93303105e-03,   1.74597458e-01,   5.54921827e-01, ...,
         1.01165868e-04,   4.72257462e-01,   5.25368347e-01])

In [146]:
del pred_train

NameError: name 'pred_train' is not defined

In [54]:
import gc
gc.collect()

74

In [38]:
param = {}
param['objective'] = 'binary:logistic'
param['eval_metric'] = 'logloss'
param['max_depth'] = 7
# param['booster'] = 'dart'
#param['booster'] = 'gblinear'
param['eta'] = 0.1
#param['subsample'] = 1.0
# param["scale_pos_weight"] = 0.5
#param['colsample_bytree'] = 0.7
param['nthread'] = 8
#param['num_class'] =3
#param['alpha'] = 0.00
#param['lambda_bias'] = 0.1
# param['lambda'] = 0
#param['min_child_weight'] = 100

# if param['booster'] == 'gblinear': param['eta'] *= 1e-4
numround = 2000

In [39]:
Xdatatrain = xgb.DMatrix(data=X_train.ix[:, :].values,
                                     label=y_train.ix[:].values)

In [40]:
Xdataval = xgb.DMatrix(data=X_train.ix[:10, :].values,
                                     label=y_train.ix[:10].values)

In [62]:
del Xdatatest2

In [57]:
Xdatatest2 = xgb.DMatrix(data=X_test.ix[1000001:, :].values)

In [42]:

plst = list(param.items())
watchlist = [(Xdatatrain, 'train'), (Xdataval, 'eval')]

In [45]:
bst = xgb.train(plst, Xdatatrain, numround, evals=watchlist, verbose_eval=15)

[0]	train-logloss:0.633506	eval-logloss:0.646774
[15]	train-logloss:0.323969	eval-logloss:0.388133
[30]	train-logloss:0.271702	eval-logloss:0.343325
[45]	train-logloss:0.257076	eval-logloss:0.341127
[60]	train-logloss:0.248104	eval-logloss:0.316478
[75]	train-logloss:0.241793	eval-logloss:0.306781
[90]	train-logloss:0.236545	eval-logloss:0.294224
[105]	train-logloss:0.232073	eval-logloss:0.288613
[120]	train-logloss:0.228825	eval-logloss:0.282442
[135]	train-logloss:0.225883	eval-logloss:0.283732
[150]	train-logloss:0.222672	eval-logloss:0.279839
[165]	train-logloss:0.220304	eval-logloss:0.271811
[180]	train-logloss:0.218097	eval-logloss:0.271271
[195]	train-logloss:0.215673	eval-logloss:0.269905
[210]	train-logloss:0.213894	eval-logloss:0.270819
[225]	train-logloss:0.211979	eval-logloss:0.273126
[240]	train-logloss:0.210103	eval-logloss:0.267782
[255]	train-logloss:0.208528	eval-logloss:0.267423
[270]	train-logloss:0.207038	eval-logloss:0.269102
[285]	train-logloss:0.205572	eval-logloss:0.270577
[300]	train-logloss:0.204371	eval-logloss:0.267361
[315]	train-logloss:0.202777	eval-logloss:0.261271
[330]	train-logloss:0.201445	eval-logloss:0.259142
[345]	train-logloss:0.199901	eval-logloss:0.250026
[360]	train-logloss:0.19867	eval-logloss:0.249264
[375]	train-logloss:0.197549	eval-logloss:0.240708
[390]	train-logloss:0.196382	eval-logloss:0.240785
[405]	train-logloss:0.195247	eval-logloss:0.240169
[420]	train-logloss:0.194284	eval-logloss:0.239235
[435]	train-logloss:0.193526	eval-logloss:0.237363
[450]	train-logloss:0.192495	eval-logloss:0.238759
[465]	train-logloss:0.191718	eval-logloss:0.237641
[480]	train-logloss:0.190985	eval-logloss:0.237063
[495]	train-logloss:0.190056	eval-logloss:0.23735
[510]	train-logloss:0.189194	eval-logloss:0.237971
[525]	train-logloss:0.188237	eval-logloss:0.239135
[540]	train-logloss:0.187406	eval-logloss:0.235735
[555]	train-logloss:0.186695	eval-logloss:0.23455
[570]	train-logloss:0.185304	eval-logloss:0.234803
[585]	train-logloss:0.184262	eval-logloss:0.237602
[600]	train-logloss:0.183569	eval-logloss:0.237253
[615]	train-logloss:0.182823	eval-logloss:0.236509
[630]	train-logloss:0.181981	eval-logloss:0.237083
[645]	train-logloss:0.181358	eval-logloss:0.236003
[660]	train-logloss:0.180737	eval-logloss:0.234916
[675]	train-logloss:0.180074	eval-logloss:0.230396
[690]	train-logloss:0.17935	eval-logloss:0.232672
[705]	train-logloss:0.178409	eval-logloss:0.234427
[720]	train-logloss:0.177643	eval-logloss:0.228954
[735]	train-logloss:0.177142	eval-logloss:0.22548
[750]	train-logloss:0.176497	eval-logloss:0.225134
[765]	train-logloss:0.175731	eval-logloss:0.224354
[780]	train-logloss:0.174998	eval-logloss:0.224698
[795]	train-logloss:0.174198	eval-logloss:0.223869
[810]	train-logloss:0.173173	eval-logloss:0.229316
[825]	train-logloss:0.172442	eval-logloss:0.229843
[840]	train-logloss:0.17192	eval-logloss:0.226134
[855]	train-logloss:0.171253	eval-logloss:0.226123
[870]	train-logloss:0.170603	eval-logloss:0.226297
[885]	train-logloss:0.170178	eval-logloss:0.226306
[900]	train-logloss:0.169571	eval-logloss:0.221959
[915]	train-logloss:0.169005	eval-logloss:0.221173
[930]	train-logloss:0.168424	eval-logloss:0.222485
[945]	train-logloss:0.167708	eval-logloss:0.222546
[960]	train-logloss:0.166747	eval-logloss:0.222536
[975]	train-logloss:0.166074	eval-logloss:0.222261
[990]	train-logloss:0.165399	eval-logloss:0.222305
[1005]	train-logloss:0.164709	eval-logloss:0.221686
[1020]	train-logloss:0.164162	eval-logloss:0.220124
[1035]	train-logloss:0.163462	eval-logloss:0.219203
[1050]	train-logloss:0.162654	eval-logloss:0.217525
[1065]	train-logloss:0.162241	eval-logloss:0.21614
[1080]	train-logloss:0.161564	eval-logloss:0.214256
[1095]	train-logloss:0.160884	eval-logloss:0.21139
[1110]	train-logloss:0.160356	eval-logloss:0.211389
[1125]	train-logloss:0.15986	eval-logloss:0.206657
[1140]	train-logloss:0.159321	eval-logloss:0.206579
[1155]	train-logloss:0.158897	eval-logloss:0.206587
[1170]	train-logloss:0.158453	eval-logloss:0.206663
[1185]	train-logloss:0.157872	eval-logloss:0.204609
[1200]	train-logloss:0.157216	eval-logloss:0.202777
[1215]	train-logloss:0.156551	eval-logloss:0.204005
[1230]	train-logloss:0.156055	eval-logloss:0.204041
[1245]	train-logloss:0.155631	eval-logloss:0.202561
[1260]	train-logloss:0.155124	eval-logloss:0.200276
[1275]	train-logloss:0.154304	eval-logloss:0.199875
[1290]	train-logloss:0.153745	eval-logloss:0.202103
[1305]	train-logloss:0.153227	eval-logloss:0.202038
[1320]	train-logloss:0.152727	eval-logloss:0.201489
[1335]	train-logloss:0.151832	eval-logloss:0.201855
[1350]	train-logloss:0.151226	eval-logloss:0.202211
[1365]	train-logloss:0.150557	eval-logloss:0.197629
[1380]	train-logloss:0.150026	eval-logloss:0.195791
[1395]	train-logloss:0.149625	eval-logloss:0.196072
[1410]	train-logloss:0.14925	eval-logloss:0.192879
[1425]	train-logloss:0.148646	eval-logloss:0.193572
[1440]	train-logloss:0.148339	eval-logloss:0.193567
[1455]	train-logloss:0.147717	eval-logloss:0.19465
[1470]	train-logloss:0.146948	eval-logloss:0.195416
[1485]	train-logloss:0.146366	eval-logloss:0.194434
[1500]	train-logloss:0.14602	eval-logloss:0.193012
[1515]	train-logloss:0.145627	eval-logloss:0.193242
[1530]	train-logloss:0.145162	eval-logloss:0.193025
[1545]	train-logloss:0.144701	eval-logloss:0.188226
[1560]	train-logloss:0.144097	eval-logloss:0.188131
[1575]	train-logloss:0.143432	eval-logloss:0.184562
[1590]	train-logloss:0.14287	eval-logloss:0.18492
[1605]	train-logloss:0.14238	eval-logloss:0.181315
[1620]	train-logloss:0.141964	eval-logloss:0.181304
[1635]	train-logloss:0.141399	eval-logloss:0.180933
[1650]	train-logloss:0.140897	eval-logloss:0.180716
[1665]	train-logloss:0.140414	eval-logloss:0.180889
[1680]	train-logloss:0.13998	eval-logloss:0.181614
[1695]	train-logloss:0.139452	eval-logloss:0.181003
[1710]	train-logloss:0.139077	eval-logloss:0.180468
[1725]	train-logloss:0.138619	eval-logloss:0.180347
[1740]	train-logloss:0.138285	eval-logloss:0.179627
[1755]	train-logloss:0.137748	eval-logloss:0.17569
[1770]	train-logloss:0.13744	eval-logloss:0.175583
[1785]	train-logloss:0.137085	eval-logloss:0.170743
[1800]	train-logloss:0.136571	eval-logloss:0.169562
[1815]	train-logloss:0.136105	eval-logloss:0.169764
[1830]	train-logloss:0.135462	eval-logloss:0.16524
[1845]	train-logloss:0.135028	eval-logloss:0.162854
[1860]	train-logloss:0.134359	eval-logloss:0.16272
[1875]	train-logloss:0.133653	eval-logloss:0.16152
[1890]	train-logloss:0.133198	eval-logloss:0.156493
[1905]	train-logloss:0.132658	eval-logloss:0.156476
[1920]	train-logloss:0.1323	eval-logloss:0.156168
[1935]	train-logloss:0.13199	eval-logloss:0.158266
[1950]	train-logloss:0.13176	eval-logloss:0.158097
[1965]	train-logloss:0.131321	eval-logloss:0.15726
[1980]	train-logloss:0.130993	eval-logloss:0.15721
[1995]	train-logloss:0.130602	eval-logloss:0.15699

In [61]:
test_pred2 = bst.predict(Xdatatest2)

In [54]:
test_pred1[:4]

array([  4.93649067e-03,   1.69867009e-01,   5.44634938e-01,
         2.05250995e-04], dtype=float32)

In [50]:
len(test_pred1)

1000001

In [53]:
test_pred1[:4]

array([  2.29527755e-03,   5.45756638e-01,   6.37812853e-01,
         4.23383579e-04], dtype=float32)

In [64]:
test_pred = np.concatenate([test_pred1, test_pred2], axis=0)

In [65]:
len(test_pred)

2345796

In [56]:
test_pred = foo(test_pred)

In [57]:
submit['is_duplicate'] = test_pred

In [58]:
submit.to_csv("stacking/lgb_23_test.csv", index=None)

In [13]:
submit

         test_id  is_duplicate
0              0      0.020263
1              1      0.196667
2              2      0.327514
3              3      0.001061
4              4      0.464111
5              5      0.009520
6              6      0.393998
7              7      0.838837
8              8      0.326061
9              9      0.004459
10            10      0.364806
11            11      0.010406
12            12      0.000341
13            13      0.023164
14            14      0.135246
15            15      0.166440
16            16      0.014842
17            17      0.613379
18            18      0.067774
19            19      0.015952
20            20      0.000744
21            21      0.011357
22            22      0.039557
23            23      0.135941
24            24      0.015168
25            25      0.328617
26            26      0.000097
27            27      0.018202
28            28      0.136034
29            29      0.000512
...          ...           ...
2345766  2345766      0.000043
2345767  2345767      0.031482
2345768  2345768      0.042230
2345769  2345769      0.020847
2345770  2345770      0.238111
2345771  2345771      0.000581
2345772  2345772      0.044635
2345773  2345773      0.044198
2345774  2345774      0.357717
2345775  2345775      0.369755
2345776  2345776      0.137573
2345777  2345777      0.002808
2345778  2345778      0.010221
2345779  2345779      0.052887
2345780  2345780      0.020393
2345781  2345781      0.165303
2345782  2345782      0.271789
2345783  2345783      0.005546
2345784  2345784      0.227830
2345785  2345785      0.002315
2345786  2345786      0.010016
2345787  2345787      0.002274
2345788  2345788      0.011533
2345789  2345789      0.000027
2345790  2345790      0.010313
2345791  2345791      0.013647
2345792  2345792      0.045199
2345793  2345793      0.003719
2345794  2345794      0.093024
2345795  2345795      0.293632

[2345796 rows x 2 columns]

In [59]:
submit

         test_id  is_duplicate
0              0      0.002004
1              1      0.066443
2              2      0.295527
3              3      0.000151
4              4      0.111192
5              5      0.001435
6              6      0.998418
7              7      0.484766
8              8      0.313561
9              9      0.000257
10            10      0.027225
11            11      0.000028
12            12      0.000011
13            13      0.011307
14            14      0.033384
15            15      0.016954
16            16      0.000125
17            17      0.528757
18            18      0.146251
19            19      0.218099
20            20      0.000008
21            21      0.001298
22            22      0.002201
23            23      0.006032
24            24      0.000033
25            25      0.058937
26            26      0.000006
27            27      0.007091
28            28      0.084852
29            29      0.000072
...          ...           ...
2345766  2345766      0.000005
2345767  2345767      0.000025
2345768  2345768      0.003513
2345769  2345769      0.000003
2345770  2345770      0.132572
2345771  2345771      0.004124
2345772  2345772      0.100205
2345773  2345773      0.000019
2345774  2345774      0.001737
2345775  2345775      0.353739
2345776  2345776      0.028114
2345777  2345777      0.004160
2345778  2345778      0.000029
2345779  2345779      0.004329
2345780  2345780      0.000028
2345781  2345781      0.075149
2345782  2345782      0.537138
2345783  2345783      0.000022
2345784  2345784      0.255775
2345785  2345785      0.000010
2345786  2345786      0.000012
2345787  2345787      0.000011
2345788  2345788      0.000748
2345789  2345789      0.000006
2345790  2345790      0.000004
2345791  2345791      0.000007
2345792  2345792      0.000060
2345793  2345793      0.000034
2345794  2345794      0.231412
2345795  2345795      0.271365

[2345796 rows x 2 columns]