In [1]:
import pandas as pd
import numpy as np

In [2]:
events = pd.read_csv('course-217-events.csv')
structure = pd.read_csv('course-217-structure.csv')

In [3]:
len(structure)

233

In [4]:
events = events.sort_values('time', axis=0)
structure = structure.sort_values(['module_position', 'lesson_position', 'step_position'], axis = 0)
structure.index = structure.step_id
structure['step_num'] = range(len(structure))
events['step_num'] = 0

In [5]:
events[:5]

         user_id      action  step_id        time  step_num
1431922     1229      viewed    38518  1440065573         0
1431921     1229  discovered    38518  1440065573         0
1431920     1229      passed    38518  1440065573         0
1431917     1229      passed    38521  1440065578         0
1431919     1229      viewed    38521  1440065578         0

In [6]:
structure[:5]

,course_id,module_id,module_position,lesson_id,lesson_position,step_id,step_position,step_type,step_cost,step_num
step_id,,,,,,,,,,
38518,217,635,1,13140,1,38518,1,text,0,0
38521,217,635,1,13140,1,38521,2,text,0,1
38519,217,635,1,13140,1,38519,3,choice,0,2
38529,217,635,1,13140,1,38529,4,code,1,3
38527,217,635,1,13140,1,38527,5,text,0,4

In [7]:
events['step_num'] = structure.ix[events.step_id].step_num.values

In [8]:
events[:5]

         user_id      action  step_id        time  step_num
1431922     1229      viewed    38518  1440065573         0
1431921     1229  discovered    38518  1440065573         0
1431920     1229      passed    38518  1440065573         0
1431917     1229      passed    38521  1440065578         1
1431919     1229      viewed    38521  1440065578         1

In [11]:
views_next = np.zeros_like(views)
returns = np.zeros_like(views)
events.user_id -= 1

Пространство просмотров. пользователь/степ/(текущеий, следующий)

In [10]:
views = np.zeros([len(events.user_id.unique()), len(structure.step_num.unique()), 3])

In [ ]:
for i in events.index.values:
    if (events.ix[i, 0] > 0) and (views[events.ix[i, 0], events.ix[i, 4] - 1, 0] == 1.0):
        views[events.ix[i, 0], events.ix[i, 4], 1] = 1.0
    if (views[events.ix[i, 0], events.ix[i, 4], 0] == 1.0) \
    and (events.ix[i, 4] < len(structure) - 1) \
    and (views[events.ix[i, 0], events.ix[i, 4] + 1, 1] == 1.0):
        views[events.ix[i, 0], events.ix[i, 4], 2] = 1.0
    views[events.ix[i, 0], events.ix[i, 4], 0] = 1.0

In [59]:
structure = structure.sort_values('step_num')
structure['otv'] = returns.sum(axis = 0) / views.sum(axis = 0)

In [60]:
structure.sort_values('otv', ascending = False).head(10)

,course_id,module_id,module_position,lesson_id,lesson_position,step_id,step_position,step_type,step_cost,step_num,otv
step_id,,,,,,,,,,,
41684,217,623,8,13262,7,41684,4,code,1,215,0.744681
41604,217,623,8,13257,2,41604,5,code,1,191,0.728620
41097,217,619,3,13239,2,41097,5,code,1,56,0.679673
41481,217,621,5,13253,9,41481,3,sorting,1,142,0.673719
42593,217,623,8,13262,7,42593,3,free-answer,0,214,0.664987
38872,217,619,3,13238,1,38872,1,text,0,40,0.662408
41686,217,623,8,13262,7,41686,5,code,1,216,0.655827
39735,217,619,3,13238,1,39735,9,code,1,48,0.653884
39740,217,619,3,13238,1,39740,10,code,1,49,0.652793
39717,217,614,2,13228,2,39717,8,code,1,22,0.645986